## Settings file was created by plugin Orbus Classic/Preborn Wand Adjustment v1.0.0
## Plugin GUID: orbusvrcommunity.wandadjustment

[Wand Offset]

## Local X offset of the wand relative to the hand
# Setting type: Single
# Default value: 0
Position X = 0

## Local Y offset of the wand relative to the hand
# Setting type: Single
# Default value: 0
Position Y = 0

## Local Z offset of the wand relative to the hand
# Setting type: Single
# Default value: 0
Position Z = 0

## Local X rotation (degrees)
# Setting type: Single
# Default value: 79.1
Rotation X = 79.1

## Local Y rotation (degrees)
# Setting type: Single
# Default value: 180
Rotation Y = 180

## Local Z rotation (degrees)
# Setting type: Single
# Default value: 180
Rotation Z = 180
